{% extends "master.html" %}

{% block css %}<link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">{% endblock css %}

{% block content %}

    
<section id="loader">

<br><br><center>
<img src="{{url_for('static', filename='/images/logo.png')}}" class="h-20 w-20">
</center>
</section>



<section id="page" class="hidden">

      <nav class="width[100%] p-3 bg-gray-800">
        <img src="{{url_for('static', filename='/images/logo.png')}}" 
        height="50" width="50" class="inline"> Cypher <span class="font-bold">Dashboard</span>
        <span id="menu" class="lg:hidden absolute right-0 mr-2" role="button" onclick="toggleNav('menu','side-nav')"><i class="bi bi-list"></i><span>
    </nav>
    <script defer>
    function toggleNav(button, target) {
                $('#'+target).toggle("slide", { direction: "left" }, 500);;
        }
    </script>

  <div class="min-h-screen flex">
    <div id="side-nav" class="overflow-y-scroll top=0 absolute lg:relative h-screen  bg-gray-900">

        <div id="servers" class="items-center flex justify-center center w-full overflow-x-scroll h-14 bg-gray-600 px-2">
        <button id="doubleDropdownButton"
        onclick="toggleBar('','doubleDropdown');"
        data-dropdown-toggle="doubleDropdown" 
        data-dropdown-placement="right-start" type="button" class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
        <span id="selected">USER</span>

       </div>
            <div id="doubleDropdown" class="z-10 w-full hidden h-full overflow-y-scroll bg-gray-800 divide-y divide-gray-100 absolute z-10 shadow">
            <ul class="py-1 text-sm" id="guilds" aria-labelledby="doubleDropdownButton">
           
           
            </ul>
        </div>


        <div id="contents" class="items-center p-3">
            <div id="adminSubBar" class="cursor-pointer 
            rounded-md hover:bg-teal-600 p-2.5" onclick="toggleBar('adminSubBar' , 'adminBar')">
                <i class="bi bi-hammer"></i> Adminstration </i>
            </div>
            <ul id="adminBar" class="p-3 hidden">
                <li><i class="bi bi-people-fill"></i>Members
                    </li>
                <li><i class="bi bi-command"></i> Commands</li>
                <li><i class="bi bi-exclamation-lg"></i> Prefix</li>
                <li><i class="bi bi-hash"></i> Channels</li>
            </ul>
             <div id="dropdown-cta" class="p-4 mt-6 rounded-lg bg-blue-50 dark:bg-blue-900" role="alert">
         <div class="flex items-center mb-3">
            <span class="bg-teal-600 text-teal-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">Beta</span>
        </div>
        <p class="mb-3 text-sm text-blue-900 dark:text-blue-400">
        This dashboard is under beta version. The design of this site or even its infrastructure will changed. If you want to add any addition, you can suggest this to us on our support server.
        </p>
            <a 
            href="https://discord.gg/TUhy9rXdsR"
            target="_blank"
            class="text-sm text-blue-900 underline hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300" href="#">
            Check our support server for detalis.</a>
      </div>
   </div>

</div>

    <div class="flex-1" id="mainContent">
    
<section id="loader-content">

<br><br><center>
<img src="{{url_for('static', filename='/images/logo.png')}}" class="h-20 w-20">
</center>
</section>

    <div class="hidden" id="page-setting">
    <div class="card rounded-small">
        <div class="ml-2" id="text">TEST TITLE</div>
    </div>
  
</div>
</section>
    <script defer src="{{url_for('static',filename='/js/index.js')}}"></script>
{% endblock content %}