<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/global.css')}}">
    {% block css %}
    
    {% endblock css %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>
</script>

    <!--link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script-- defer src="https://pyscript.net/latest/pyscript.js"></script-->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        red: '#fd5200',
                        blue: '#279AF1',
                        black: '#070600',
                        light: "#F7F7FF",
                        blueHover: "hsla(206, 88%, 55%, 0.3)"
                    }
                }
            }
        }
    </script>
    <title>Cypher Dashboard</title>
</head>

<body  data-auth="{{auth}}" id="body" class=" overflow-y-hidden text-light bg-black"  >

    {% block content %}
    
    {% endblock content %}

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</body>