<div id="contents" class="items-center p-3">
    <div id="adminSubBar" class="cursor-pointer 
    rounded-md hover:bg-teal-600 p-2.5" onclick="toggleBar('adminSubBar' , 'adminBar')">
        <i class="bi bi-hammer"></i> Adminstration </i>
    </div>
    <ul id="adminBar" class="p-3 hidden">
        < ><a href="#!logs"><i class="bi bi-clock-history"></i> Logs</a></li>
        <li><i class="bi bi-people-fill"></i>
Members
            </li>
        <li><i class="bi bi-command"></i> Commands</li>
        <li><i class="bi bi-exclamation-lg"></i> Prefix</li>
        <li><i class="bi bi-hash"></i> Channels</li>
    </ul>

